.App {
  text-align: center;
  width: 764px;
  height: 525px;
  margin: 15px auto;
  background-color: white;
  display: flex;
  flex-direction: column;

}
body {
  background-color: #E5E5E5;
}
.container {
  display: flex;
  justify-content: center;
}

.header {
  margin-bottom: 35px;
}
